* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    --body-background-color: #5e91ff;
    background-color: var(--body-background-color)
}

.container {
    /* We want to make the container color the same as the background but lighter*/
    /*background-color: rgba(var(--body-background-color-), 0.4); */
    background-color: #6db8ff;
    width: min(90%, 500px);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 4em 2em;
    border-radius: 0.5em;
}

/* Things related to Pokedoro Title at the top left */
header {
    text-align: left;
    padding: 3em;
}


h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}


button {
    border: none;
    outline: none;
    cursor: pointer;
}

.section-container {
    display: flex;
    gap: lem;
    justify-content: center;
}

.btn {
    padding: 0.5em 2em;
    border-radius: 0.5em;
    background-color: #6db8ff;
    color: white;
    font-size: 15px;
}

/*represent active or clicked upon button*/

.btn-active {
    background-color: #4c67ff;
    color: white;
    font-weight: 1000;
}

.time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#time {
    text-align: center;
    color: white;
    font-size: 5em;
    font-weight: 600;
}