* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url(assets/supermariobrosbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat; /*prevents image from repeating */
}

.container {
    /* We want to make the container color the same as the background but lighter*/
    /*background-color: rgba(var(--body-background-color-), 0.4); */
    width: min(90%, 500px);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 4em 2em;
    border-radius: 10px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.1); /* Adjust the alpha value (0.6 in this example) */
    
}

/* Things related to Destinydoro Title at the top left */
header {
    /* moves it to the center of the title screen */
    text-align: center;
    padding: 3em;
}


h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}


button {
    border: none;
    outline: none;
    cursor: pointer;
}

.section-container {
    display: flex;
    gap: lem;
    justify-content: center;
}

.btn {
    padding: 0.5em 2em;
    border-radius: 0.5em;
    background-color: transparent;
    color: white;
    font-size: 15px;
}

.btn:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.5em;
}


/*represent active or clicked upon button*/

.btn-active {
    background-color: #4c67ff;
    color: white;
    font-weight: 1000;
}

.time-btn-container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

#time {
    text-align: center;
    color: white;
    font-size: 8em;
    font-weight: 600;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2em;
}
#btn-start,
#btn-pause {
    padding: 1em 2em; 
    border-radius: 0.5em;
    cursor: pointer;
    background-color: white;
    width: 220px;
    font-size: 20px;
    font-weight: 1000;
    color: #4c67ff;
}

#btn-reset {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 2em;
}

.hide {
    display: none;
}

.show {
    display: block;
}